@model MedrecTechnologies.Blog.Models.BlogsModel

<script type="text/javascript">
    var SiteVars = {
        RelativeWebRoot: '<%= Utils.RelativeWebRoot %>',
    };
</script>
<div class="content">
    <div class="content-pages-new-view">
        <div class="content-inner">
            @using (Ajax.BeginForm("save", "blog", new AjaxOptions() { HttpMethod = "POST" }, new { @class = "form-horizontal", enctype = "multipart/form-data", @id = "frmBlog" }))
            {
                <div class="newpage-wrapper">
                    <div class="newpage-content">
                        <div id="alertmessage"></div>
                        <div class="newpage-title">Create New Blog</div>
                        <div class="newpage-widget">
                            @Html.LabelFor(u => u.BlogTitle, new { @class = "newpage-widget-title" })
                            @Html.TextBoxFor(u => u.BlogTitle, new { @class = "form-control form-control-sm", @type = "text", maxlength = "100" })
                        </div>
                        <div class="newpage-widget">
                            <label class="newpage-widget-title">Banner Thumbnail</label>
                            <input type="file" class="form-control form-control-sm" id="fupSmallBanner" name="fupSmallBanner" />
                        </div>
                        <div class="newpage-widget">
                            <label class="newpage-widget-title">Full Banner</label>
                            <input type="file" class="form-control form-control-sm" id="fupFullBanner" name="fupFullBanner" />
                        </div>
                        <div class="newpage-widget">
                            @Html.LabelFor(u => u.BlogShortDescription, new { @class = "newpage-widget-title" })
                            @Html.TextAreaFor(u => u.BlogShortDescription, new { @class = "form-control form-control-sm", maxlength = "200", rows = "5" })
                        </div>
                        <div class="newpage-widget">
                            @Html.LabelFor(u => u.BlogFullDescription, new { @class = "newpage-widget-title" })
                            <div class="editor-wrapper">@RenderPage("~/blogcontent/tinymce/editor.cshtml")</div>
                            @Html.HiddenFor(u => u.BlogFullDescription)
                        </div>
                        <div class="newpage-widget">
                            @Html.LabelFor(u => u.BlogMetaTitle, new { @class = "newpage-widget-title" })
                            @Html.TextBoxFor(u => u.BlogMetaTitle, new { @class = "form-control form-control-sm", @type = "text", maxlength = "60" })
                        </div>
                        <div class="newpage-widget">
                            @Html.LabelFor(u => u.BlogMetaKeywords, new { @class = "newpage-widget-title" })
                            @Html.TextBoxFor(u => u.BlogMetaKeywords, new { @class = "form-control form-control-sm", @type = "text", maxlength = "200" })
                        </div>
                        <div class="newpage-widget">
                            @Html.LabelFor(u => u.BlogMetaDescription, new { @class = "newpage-widget-title" })
                            @Html.TextAreaFor(u => u.BlogMetaDescription, new { @class = "form-control form-control-sm", maxlength = "300", rows = "5" })
                        </div>
                        <div class="newpage-widget">
                            @Html.LabelFor(u => u.PublishDate, new { @class = "newpage-widget-title" })
                            @Html.TextBoxFor(u => u.PublishDate, new { @class = "form-control form-control-sm", @type = "date" })
                        </div>
                        <div class="newpage-widget">
                            @Html.LabelFor(u => u.IsPublished, new { @class = "newpage-widget-title" })
                            @Html.CheckBoxFor(u => u.IsPublished, new { @class = "form-control form-control-sm" })
                        </div>
                    </div>
                    <div class="newpage-sidebar">
                        <div class="newpage-sidebar-content">
                            <div class="newpage-sidebar-buttons">
                                <input type="submit" id="btnSubmitBlog" class="btn btn-sm btn-block btn-success" value="Submit" />
                            </div>
                        </div>
                    </div>
                </div>
            }
        </div>
    </div>
</div>
<script src="~/blogcontent/js/jquery-2.1.4.js"></script>
<script src="~/blogcontent/js/jquery.validate.js"></script>
<script src="~/blogcontent/js/jquery.form.js"></script>
<script src="~/blogcontent/js/toastr.js"></script>
<script src="~/blogcontent/tinymce/tinymce.min.js"></script>
<script src="~/blogcontent/tinymce/editor.js"></script>
<script src="~/blogcontent/js/blogcontroller.js"></script>